[Unit]
Description=CB Project Fetch Once
After=syslog.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/cloud_builder
Type=oneshot
ExecStart=/usr/bin/cb-fetch --project $CB_PROJECT --single-shot

[Install]
WantedBy=multi-user.target
